@charset "UTF-8";
/* line 1, ../César/Documents/Portofolio_V2/scss/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../César/Documents/Portofolio_V2/scss/_reset.scss */
img {
  width: 100%;
}

/* line 11, ../César/Documents/Portofolio_V2/scss/_reset.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

@-ms-viewport {
  width: device-width;
}

/* line 25, ../César/Documents/Portofolio_V2/scss/_reset.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 29, ../César/Documents/Portofolio_V2/scss/_reset.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 100%;
}

/* line 41, ../César/Documents/Portofolio_V2/scss/_reset.scss */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* line 45, ../César/Documents/Portofolio_V2/scss/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 51, ../César/Documents/Portofolio_V2/scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 56, ../César/Documents/Portofolio_V2/scss/_reset.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 61, ../César/Documents/Portofolio_V2/scss/_reset.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 70, ../César/Documents/Portofolio_V2/scss/_reset.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 76, ../César/Documents/Portofolio_V2/scss/_reset.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 83, ../César/Documents/Portofolio_V2/scss/_reset.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 90, ../César/Documents/Portofolio_V2/scss/_reset.scss */
dt {
  font-weight: 700;
}

/* line 94, ../César/Documents/Portofolio_V2/scss/_reset.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 99, ../César/Documents/Portofolio_V2/scss/_reset.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 103, ../César/Documents/Portofolio_V2/scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 107, ../César/Documents/Portofolio_V2/scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 112, ../César/Documents/Portofolio_V2/scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 116, ../César/Documents/Portofolio_V2/scss/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 124, ../César/Documents/Portofolio_V2/scss/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 128, ../César/Documents/Portofolio_V2/scss/_reset.scss */
sup {
  top: -.5em;
}

/* line 132, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 139, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a:hover {
  color: #0056b3;
  text-decoration: none;
}

/* line 144, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 149, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 154, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 158, ../César/Documents/Portofolio_V2/scss/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 166, ../César/Documents/Portofolio_V2/scss/_reset.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 173, ../César/Documents/Portofolio_V2/scss/_reset.scss */
figure {
  margin: 0 0 1rem;
}

/* line 177, ../César/Documents/Portofolio_V2/scss/_reset.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 182, ../César/Documents/Portofolio_V2/scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 186, ../César/Documents/Portofolio_V2/scss/_reset.scss */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 199, ../César/Documents/Portofolio_V2/scss/_reset.scss */
table {
  border-collapse: collapse;
}

/* line 203, ../César/Documents/Portofolio_V2/scss/_reset.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

/* line 211, ../César/Documents/Portofolio_V2/scss/_reset.scss */
th {
  text-align: inherit;
}

/* line 215, ../César/Documents/Portofolio_V2/scss/_reset.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 220, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button {
  border-radius: 0;
}

/* line 224, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 229, ../César/Documents/Portofolio_V2/scss/_reset.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 240, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 245, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 250, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 257, ../César/Documents/Portofolio_V2/scss/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 265, ../César/Documents/Portofolio_V2/scss/_reset.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 271, ../César/Documents/Portofolio_V2/scss/_reset.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 278, ../César/Documents/Portofolio_V2/scss/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 283, ../César/Documents/Portofolio_V2/scss/_reset.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 290, ../César/Documents/Portofolio_V2/scss/_reset.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 302, ../César/Documents/Portofolio_V2/scss/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 306, ../César/Documents/Portofolio_V2/scss/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 311, ../César/Documents/Portofolio_V2/scss/_reset.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 316, ../César/Documents/Portofolio_V2/scss/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 321, ../César/Documents/Portofolio_V2/scss/_reset.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 326, ../César/Documents/Portofolio_V2/scss/_reset.scss */
output {
  display: inline-block;
}

/* line 330, ../César/Documents/Portofolio_V2/scss/_reset.scss */
summary {
  display: list-item;
}

/* line 334, ../César/Documents/Portofolio_V2/scss/_reset.scss */
template {
  display: none;
}

/* line 338, ../César/Documents/Portofolio_V2/scss/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 3, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.burger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

/* line 9, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.burger span {
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}

/* line 20, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

/* line 29, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.burger span::before {
  transform: translateY(-10px);
}

/* line 33, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.burger span::after {
  transform: translateY(10px);
}

/* line 40, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.active span {
  background-color: transparent;
}

/* line 44, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

/* line 48, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/* line 53, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 20px 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 62, ../César/Documents/Portofolio_V2/scss/_navbar.scss */
.logo {
  width: 50px;
}

@font-face {
  font-family: 'Gentium-Bold';
  src: url("../fonts/Poppins-Regular.ttf");
}

/* line 11, ../César/Documents/Portofolio_V2/scss/style.scss */
body {
  font-family: 'Gentium-Bold';
}

/* line 15, ../César/Documents/Portofolio_V2/scss/style.scss */
.section_header {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
  padding-bottom: 30px;
}

/* line 24, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 29, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content div:nth-child(1) {
  padding: 50px 20px 10px 20px;
  font-size: 30px;
}

/* line 34, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content div:nth-child(2) {
  padding: 20px;
  text-align: justify;
}

/* line 39, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content div:nth-child(3) {
  padding: 20px;
  filter: grayscale(100%);
  transition-duration: 1s;
}

/* line 45, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content div:nth-child(3):hover {
  filter: grayscale(0%);
  transition-duration: 1s;
}

/* line 50, ../César/Documents/Portofolio_V2/scss/style.scss */
.text_content div:nth-child(4) {
  display: flex;
  justify-content: center;
}

/* line 56, ../César/Documents/Portofolio_V2/scss/style.scss */
.offset {
  box-shadow: 0.2em 0.2em 0 0 var(--color), inset 0.2em 0.2em 0 0 var(--color);
}

/* line 61, ../César/Documents/Portofolio_V2/scss/style.scss */
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

/* line 72, ../César/Documents/Portofolio_V2/scss/style.scss */
.offset {
  --color: white;
  --hover: white;
}

/* line 78, ../César/Documents/Portofolio_V2/scss/style.scss */
button {
  cursor: pointer;
  color: var(--color);
  transition: 0.5s;
}

/* line 83, ../César/Documents/Portofolio_V2/scss/style.scss */
button:hover, button:focus {
  border-color: var(--hover);
  color: #222222;
}

/* line 90, ../César/Documents/Portofolio_V2/scss/style.scss */
button {
  background: none;
  border: 2px solid;
  font-size: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 3em;
}

/* line 99, ../César/Documents/Portofolio_V2/scss/style.scss */
.section_realisation {
  background-color: white;
}

/* line 102, ../César/Documents/Portofolio_V2/scss/style.scss */
.section_realisation h2 {
  font-size: 30px;
  padding: 20px;
}

/* line 107, ../César/Documents/Portofolio_V2/scss/style.scss */
.section_realisation .mes_projets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 114, ../César/Documents/Portofolio_V2/scss/style.scss */
.projet {
  display: flex;
  flex-direction: row;
  padding: 20px;
  max-width: 500px;
}

/* line 120, ../César/Documents/Portofolio_V2/scss/style.scss */
.projet .projet-image {
  width: 30%;
  margin: auto 0;
}

/* line 125, ../César/Documents/Portofolio_V2/scss/style.scss */
.projet .projet-description {
  width: 80%;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */