@import 'reset';
@import 'navbar';
@import 'scrollbar';
@import 'popup';

$dark_color: #222222;

@font-face {
   font-family: 'Gentium-Bold';
   src: url('../fonts/Poppins-Regular.ttf');
}

body {
   font-family: 'Gentium-Bold';
}

.cursor {
   display: none;
}

.progress_bar {
   height: 10px;
   background: linear-gradient(to left,#e66465, #9198e5);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 3;
   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.to_the_top {
   position: fixed;
   bottom: 20px;
   right: 5px;
   z-index: 3;

   a {
      font-size: 70px;
      font-weight: bold;
      background: linear-gradient(#e66465, #9198e5);
      -webkit-background-clip: text;
      color: transparent;
   }
}

.section {

   * {
      margin: 0 auto;
      max-width: 1200px;
   }
}

section {
   overflow-x: hidden;
}

.section_header {
   background-color: $dark_color;
   display: flex;
   flex-direction: column;
   color: white;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
   padding-bottom: 40px;
}

.text_content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding-top: 20px;

   h1 {
      font-size: 45px;
      background: linear-gradient(to left,#e66465, #9198e5);
      -webkit-background-clip: text;
      color: transparent;
   }

   h1:hover {
      background: linear-gradient(to right,#e66465, #9198e5);
      -webkit-background-clip: text;
   }

   div {
      margin: 0 auto;
      max-width: 400px;
   }

   div:nth-child(1) {
      padding: 50px 20px 10px 20px;
      font-size: 30px;
   }

   div:nth-child(2) {
      padding: 20px;
      text-align: justify;
   }

   div:nth-child(3) {
      padding: 20px;
      background: linear-gradient(#e66465, #9198e5);
      padding: 10px;
      box-shadow: 0px 0px 10px 10px $dark_color inset;
      transition-duration: 1s;

      div {
         filter: grayscale(100%);
         padding: 0;
         overflow: hidden;
         position: relative;
         transition-duration: 1s;

         * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
         }

         img {
            max-width: 100%;
            transition: all 0.8s;
         }

         img:hover {
            transform:scale(1.06);
         }
      }

      div:hover {
         filter: grayscale(0%);
         transition-duration: 1s;
      }
   }

   div:nth-child(3):hover {
      box-shadow: 20px 20px 10px 10px $dark_color inset;
   }

   div:nth-child(4) {
      display: flex;
      justify-content: center;
   }
}

.annonces {
   text-align: center;
   padding: 20px;
   border: 1px solid;
   border-image-source: linear-gradient(#e66465, #9198e5);
   border-image-slice: 1;
   margin: 0 auto;
   max-width: 1200px;

   h3 {
      font-weight: normal;
      margin-bottom: 10px;
      color: #FCCC04;
      font-size: 20px;
      font-weight: bold;
   }

   h3:before, h3:after {
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: 5%;
      height: 1px;
      background: white;
   }

   h3:before {
      margin-right: .3rem
   }

   h3:after {
      margin-left: .3rem
   }

   strong, a {
      color: #e66465;
      font-size: 18px;
   }

   #important {
      color: #FCCC04;
   }

   a {
      text-decoration: underline;
   }

   .img-rythme {
      max-width: 600px;
      margin: 0 auto;
   }
}

.offset {
   width: 190px;
   height: 50px;
   font-size: 18px;
   position: relative;
   color: white;
   z-index: 0;
   background: $dark_color;
   border: 1px solid white;
   overflow: hidden;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
   transition: 1s;
}

.offset:hover {
   color: $dark_color;
   border: 1px solid $dark_color;
}

.offset::before {
   content: '';
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   height: 100%;
   background: white;
   border-radius: 50% 50% 0% 0%;
   z-index: -1;
   transition: all 0.6s;
}

.offset:hover::before {
   top: 0px;
   border-radius: 0;
}

.section_realisation {
   background-color: white;
   padding-bottom: 40px;

   h2 {
      font-size: 30px;
      padding: 20px;
   }

   .mes_projets {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   .p_reseaux {
      font-size: 18px;
      padding: 20px;
      text-align: center;
   }
}

.projet {
   display: flex;
   flex-direction: row;
   padding: 20px;
   max-width: 500px;

   .projet-image {
      width: 30%;
      margin: auto 0;
   }

   .projet-description {
      width: 80%;
      padding-left: 20px;
   }
}

.projet:hover {

   .projet-image {
      filter: contrast(200%);
   }
}

.section_competence {
   background-color: $dark_color;
   clip-path: polygon(0 calc(0% + 20px), 100% 0, 100% 100%, 0 calc(100% - 20px));
   padding-bottom: 40px;

   h2 {
      font-weight: lighter;
      color: white;
      text-align: right;
      padding: 20px;
      padding-top: 20px + 20px;
      font-size: 30px;
   }

   h3 {
      color: white;
      font-weight: lighter;
      text-align: center;
   }

   h3:before, h3:after {
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: 10%;
      height: 1px;
      background: white;
   }

   h3:before {
      margin-right: .3rem
   }

   h3:after {
      margin-left: .3rem
   }
}

.competences {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.comp {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90px;
   margin: 20px;

   img {
      width: 50px;
      margin: 0 auto;
   }

   span {
      color: white;
      margin: 0 auto;
   }
}

.comp:hover {
   filter: contrast(200%);
}

.section_parcours {
   background-color: white;
   padding-bottom: 40px;

   h2 {
      font-size: 30px;
      padding: 20px;
   }
}

.ecole {
   padding: 10px 0;

   div {
      width: 260px;
      margin: 0 auto;
   }

   div:last-of-type {
      border-left: 1px solid $dark_color;
   }

   span {
      font-weight: bold;
   }

   span, p, a {
      padding: 10px 0px 0px 10px;
   }
}

.ecole:hover {

   img {
      filter: contrast(200%);
   }
}

.etudes {

   div {
      div {
         padding: 5px;
      }
   }

   div:nth-child(1) {

      div:first-of-type {
         width: 180px;
      }
   }

   div:nth-child(2) {

      div:first-of-type {
         width: 140px;
      }
   }

   div:nth-child(3) {

      div:first-of-type {
         width: 220px;
      }
   }

   div:nth-child(4) {

      div:first-of-type {
         width: 250px;
      }
   }

   div:nth-child(5) {

      div:first-of-type {
         width: 130px;
      }
   }

   div:nth-child(6) {

      div:first-of-type {
         width: 150px;
      }
   }

   div:nth-child(7) {

      div:first-of-type {
         width: 220px;
      }
   }
}

.section_a_propos {
   @extend .section_competence;
}

.resume {

   p {
      color: white;
      padding: 20px 40px;
      text-align: justify;
   }
}

.interet {
   @extend .competences;

   .elem {
      @extend .comp;
   }
}

.diplomes {
   @extend .competences;

   .dip {
      @extend .comp;
      margin: 40px 0;

      p {
         color: white;
         margin: 20px;
         text-align: center;
      }
   }
}

.section_cv {
   @extend .section_parcours;
   padding-bottom: 40px;
}

.cv {
   @extend .competences;

   .download {
      @extend .comp;
      filter: grayscale(0%);

      a {
         width: 50px;
         margin: 0 auto;
      }

      span {
         color: $dark_color;
         margin: 20px;
         text-align: center;
      }
   }
}

.section_contact {
   @extend .section_competence;
   clip-path: polygon(0 calc(0% + 20px), 100% 0, 100% 100%, 0 100%);
   padding-bottom: 40px;
}

.reseaux {
   @extend .competences;
   display: flex;
   flex-direction: column;
   justify-content: center;

   p {
      color: white;
      margin: 20px;
      text-align: center;
   }

   .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .res {
      @extend .comp;

      a {
         text-align: center;
      }
   }
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;

   input, textarea {
      width: 90%;
      padding: 5px;
      margin: 10px auto;
      background-color: white;
      border: none;
      border: 1px solid white;
      transition: 0.7s;
   }

   input[type='submit']:hover {
      background-color: $dark_color;
      color: white;
   }
}

button {
   font-size: 1.2rem;
   color: #fff;
   background: #ff4754;
   padding: 1.2rem 2.4rem;
   border-radius: 0.2rem;
   transition: all 0.2s;
}

button:hover {
   cursor: pointer;
   opacity: 0.8;
}

#notifSuccess {
   color: #16C60C;
   background: #000;
   padding: 1.2rem 2.4rem;
   border-radius: 0.2rem;
   box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
   transition: all 0.5s;
}

#notifError {
   color: #F03A17;
   background: #000;
   padding: 1.2rem 2.4rem;
   border-radius: 0.2rem;
   box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
   transition: all 0.5s;
}

.section_footer {
   background-color: $dark_color;
   margin-top: 1px;
   color: white;
   text-align: center;

   h3 {
      padding-top: 30px;
      font-size: 18px;
      font-weight: lighter;
   }

   p {
      padding-bottom: 30px;
   }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

   .text_content {
      max-width: 992px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div {
         margin: auto 0;
         padding: 0;
      }

      div:nth-child(1) {
         order: 2;
      }

      div:nth-child(2) {
         order: 3;
      }

      div:nth-child(3) {
         order: 1;
      }

      div:nth-child(4) {
         order: 4;
      }
   }
}

@media screen and (min-width: 1200px) {

   * {
      cursor: none;
   }

   .cursor {
      display: block;
      pointer-events: none;

      &__ball {
         position: fixed;
         top: 0;
         left: 0;
         mix-blend-mode: difference;
         z-index: 1000;

         circle {
            fill: #f7f8fa;
         }
      }
   }

   .cursor__ball__small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .title_pointer {
      position: relative;
      z-index: 2000;
      color: white;
      padding-top: 10px;
   }
}
