@import 'reset';
@import 'navbar';

$dark_color: #222222;
//nuances de gris des icones (en %)
$icone_color: 0%;

@font-face {
   font-family: 'Gentium-Bold';
   src: url('../fonts/Poppins-Regular.ttf');
}

body {
   font-family: 'Gentium-Bold';
}

.progress_bar {
   height: 10px;
   background: linear-gradient(to left,#e66465, #9198e5);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.section {

   * {
      margin: 0 auto;
      max-width: 1200px;
   }
}

.section_header {
   background-color: $dark_color;
   display: flex;
   flex-direction: column;
   color: white;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
   padding-bottom: 40px;
}

.text_content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   h1 {
      font-size: 45px;
      background: linear-gradient(to left,#e66465, #9198e5);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: 0.5s;
   }

   h1:hover {
      filter: blur(1px);
   }

   div {
      margin: 0 auto;
      max-width: 400px;
   }

   div:nth-child(1) {
      padding: 50px 20px 10px 20px;
      font-size: 30px;
   }

   div:nth-child(2) {
      padding: 20px;
      text-align: justify;
   }

   div:nth-child(3) {
      padding: 20px;

      div {
         filter: grayscale(100%);
         transition-duration: 1s;
         padding: 0;
         overflow: hidden;
         position: relative;

         * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
         }

         img {
            max-width: 100%;
            transition: all 0.8s;
         }

         img:hover {
            transform:scale(1.06);
         }
      }

      div:hover {
         filter: grayscale(0%);
         transition-duration: 1s;
      }
   }

   div:nth-child(4) {
      display: flex;
      justify-content: center;
   }
}

.offset {
   width: 190px;
   height: 50px;
   font-size: 18px;
   position: relative;
   color: white;
   z-index: 0;
   background: $dark_color;
   border: 1px solid white;
   overflow: hidden;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
   transition: 1s;
}

.offset:hover {
   color: $dark_color;
   border: 1px solid $dark_color;
}

.offset::before {
   content: '';
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   height: 100%;
   background: white;
   border-radius: 50% 50% 0% 0%;
   z-index: -1;
   transition: all 0.6s;
}

.offset:hover::before {
   top: 0px;
   border-radius: 0;
}

.section_realisation {
   background-color: white;
   padding-bottom: 40px;

   h2 {
      font-size: 30px;
      padding: 20px;
   }

   .mes_projets {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}

.projet {
   display: flex;
   flex-direction: row;
   padding: 20px;
   max-width: 500px;

   .projet-image {
      width: 30%;
      margin: auto 0;
   }

   .projet-description {
      width: 80%;
      padding-left: 20px;
   }
}

.section_competence {
   background-color: $dark_color;
   clip-path: polygon(0 calc(0% + 20px), 100% 0, 100% 100%, 0 calc(100% - 20px));
   padding-bottom: 40px;

   h2 {
      font-weight: lighter;
      color: white;
      text-align: right;
      padding: 20px;
      padding-top: 20px + 20px;
      font-size: 30px;
   }

   h3 {
      color: white;
      font-weight: lighter;
      text-align: center;
   }

   h3:before, h3:after {
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: 10%;
      height: 1px;
      background: white;
   }

   h3:before {
      margin-right: .3rem
   }

   h3:after {
      margin-left: .3rem
   }
}

.competences {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.comp {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90px;
   margin: 20px;
   filter: grayscale($icone_color);
   transition: 0.4s;

   img {
      width: 50px;
      margin: 0 auto;
   }

   span {
      color: white;
      margin: 0 auto;
   }
}

.comp:hover {
   filter: grayscale(100%);
}

.section_parcours {
   background-color: white;
   padding-bottom: 40px;

   h2 {
      font-size: 30px;
      padding: 20px;
   }
}

.ecole {
   padding: 10px 0;

   div {
      width: 260px;
      margin: 0 auto;
   }

   div:last-of-type {
      border-left: 1px solid $dark_color;
   }

   span {
      font-weight: bold;
   }

   span, p, a {
      padding: 10px 0px 0px 10px;
   }
}

.etudes {

   div:nth-child(2) {

      div:first-of-type {
         width: 150px;
      }
   }
}

.section_a_propos {
   @extend .section_competence;
}

.resume {

   p {
      color: white;
      padding: 20px 40px;
      text-align: justify;
   }
}

.interet {
   @extend .competences;

   .elem {
      @extend .comp;
   }
}

.diplomes {
   @extend .competences;

   .dip {
      @extend .comp;
      margin: 40px 0;

      p {
         color: white;
         margin: 20px;
         text-align: center;
      }
   }
}

.section_cv {
   @extend .section_parcours;
   padding-bottom: 40px;
}

.cv {
   @extend .competences;

   .download {
      @extend .comp;
      filter: grayscale(0%);

      a {
         width: 50px;
         margin: 0 auto;
      }

      span {
         color: $dark_color;
         margin: 20px;
         text-align: center;
      }
   }
}

.section_contact {
   @extend .section_competence;
   clip-path: polygon(0 calc(0% + 20px), 100% 0, 100% 100%, 0 100%);
   padding-bottom: 40px;
}

.reseaux {
   @extend .competences;
   display: flex;
   flex-direction: column;
   justify-content: center;

   p {
      color: white;
      margin: 20px;
      text-align: center;
   }

   .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .res {
      @extend .comp;

      a {
         text-align: center;
      }
   }
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;

   input, textarea {
      width: 90%;
      padding: 5px;
      margin: 10px auto;
      background-color: white;
      border: none;
      border: 1px solid white;
      transition: 0.7s;
   }

   input[type='submit']:hover {
      background-color: $dark_color;
      color: white;
   }
}

.section_footer {
   background-color: $dark_color;
   margin-top: 1px;
   color: white;
   text-align: center;

   h3 {
      padding-top: 30px;
      font-size: 18px;
      font-weight: lighter;
   }

   p {
      padding-bottom: 30px;
   }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

   .text_content {
      max-width: 992px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div {
         margin: auto 0;
         padding: 0;
      }

      div:nth-child(1) {
         order: 2;
      }

      div:nth-child(2) {
         order: 3;
      }

      div:nth-child(3) {
         order: 1;
      }

      div:nth-child(4) {
         order: 4;
      }
   }
}
